{% extends 'shop/base.html' %}

{% block title %}Your Cart - Coffee Shop{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Your Shopping Cart</h1>
    {% if items %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>
                            -
                            {{ item.quantity }}
                            +
                        </td>
                        <td>${{ item.product.price }}</td>
                        <td>${{ item.get_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Points: {{ order.get_cart_point_total }}</h4>
        <h4>Sub: ${{ order.get_cart_subtotal }}</h4>
        <h3>Total: ${{ order.get_cart_total }}</h3>
        <a href="{% url 'shop:checkout' %}" class="btn btn-success">Proceed to Checkout</a>
        <a href="{% url 'shop:clear_cart' %}" class="btn btn-danger">Clear Cart</a>
    {% else %}
        <p>Your cart is empty.</p>
        <a href="{% url 'shop:product_list' %}" class="btn-primary">Add some!</a>
    {% endif %}
</div>
{% endblock %}