{% extends 'shop/base.html' %}

{% block title %}Checkout - Coffee Shop{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Checkout</h1>
    <h3>Your Order</h3>
    <ul class="list-group mb-3">
        {% for item in order.orderitem_set.all %}
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">{{ item.product.name }}</h6>
                    <small class="text-muted">Quantity: {{ item.quantity }}</small>
                </div>
                <span class="text-muted">${{ item.get_total }}</span>
            </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
        {% if order.reward_applied == True %}
            <span>Discount - {{ order.get_reward_discount }} </span>
        {% endif %}
            <span>Tax + {{ order.get_tax_amount }} </span>
            <span>Total (USD)</span>
            <strong>${{ order.get_cart_total }}</strong>
        </li>
    </ul>
    <form method="post">
        {% csrf_token %}
        <!-- Add payment fields here -->
        <button type="submit" class="btn btn-primary btn-lg btn-block">Complete Order</button>

        <div class="btn">
            {% if order.reward_applied != True %}
                <a href="{% url 'shop:apply_discount' %}" class="btn btn-secondary">Apply 100pt Discount</a>
            {% else %}
                <a href="{% url 'shop:remove_discount' %}" class="btn btn-secondary">Remove Discount</a>
            {% endif %}
        </div>
    </form>
    <div class="btn">
        <a href="{% url 'shop:cart' %}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}