{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ product.name }} - Coffee Shop{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'shop/images/placeholder.jpg' %}" class="img-fluid" alt="Placeholder">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <h4>${{ product.price }}</h4>
            <a href="{% url 'shop:add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
            <b href="{% url 'shop:product_list' %}" class="btn btn-secondary">Back</b>
        </div>
    </div>
</div>
{% endblock %}