{% extends 'shop/base.html' %}

{% block title %}Products - Coffee Shop{% endblock %}

{% block content %}
{% load static %}
<div class="container my-5">
    <h1 class="mb-4">Our Coffee Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'shop/templates/shop/images/placeholder.jpg' %}" class="img-fluid" alt="Placeholder">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <a href="{% url 'shop:product_detail' product.id %}" class="btn btn-primary">View Details</a>
                        <a href="{% url 'shop:add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}